{% extends 'base.html.twig' %}

{% block title %}DetalleHecho index{% endblock %}

{% block body %}
    <h1>DetalleHecho index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Victima</th>
                <th>Autor</th>
                <th>Mecanismo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_hecho in detalle_hechos %}
            <tr>
                <td>{{ detalle_hecho.id }}</td>
                <td>{{ detalle_hecho.victima }}</td>
                <td>{{ detalle_hecho.autor }}</td>
                <td>{{ detalle_hecho.mecanismo }}</td>
                <td>
                    <a href="{{ path('detalle_hecho_show', {'id': detalle_hecho.id}) }}">show</a>
                    <a href="{{ path('detalle_hecho_edit', {'id': detalle_hecho.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detalle_hecho_new') }}">Create new</a>
{% endblock %}
