{% extends 'base.html.twig' %}

{% block title %}DetalleHecho{% endblock %}

{% block body %}
    <h1>DetalleHecho</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_hecho.id }}</td>
            </tr>
            <tr>
                <th>Victima</th>
                <td>{{ detalle_hecho.victima }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ detalle_hecho.autor }}</td>
            </tr>
            <tr>
                <th>Mecanismo</th>
                <td>{{ detalle_hecho.mecanismo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('detalle_hecho_index') }}">back to list</a>

    <a href="{{ path('detalle_hecho_edit', {'id': detalle_hecho.id}) }}">edit</a>

    {{ include('detalle_hecho/_delete_form.html.twig') }}
{% endblock %}
